{% extends 'account/main.html' %}
{% load static %}

{% block content %}

    <div class="row justify-content-center p-4">
        <div class="col-md-6">
            <div class="card card-body">
                <p>Are you sure to delete the item "{{ item.product }}"?</p>
                <form action="{% url 'delete_order' item.id %}" method="POST">
                    {% csrf_token %}
                    <a class="btn btn-sm btn-outline-info" href="{% url 'home' %}">Cancel</a>
                    <input class="btn btn-sm btn-danger" type="submit" value="Confirm" name="" id="">
                </form>
            </div>
        </div>
    </div>

{% endblock %}